In [1]:
%load_ext autoreload
# %reload_ext autoreload

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from pycaret.regression import *
from pathlib import Path

In [3]:
# from pycaret.utils import version
# version()

In [40]:
%autoreload
import sys
sys.path.append(sys.path[0][0:-4] + 'mikael')
from pipeline import Pipin
pipin = Pipin()

In [37]:
df0 = pipin.get_combined_datasets()

In [41]:
# can you move the pv_measurment to the end of the df?
df1 = pipin.scale_targets_in_dataset(df0, "A")
df2 = pipin.scale_targets_in_dataset(df0, "B")
df3 = pipin.scale_targets_in_dataset(df0, "C")

categorical_features = pipin.get_categorical_features(df1)
ignore_features = pipin.get_irrelevant_features()

In [45]:
df1["pv_measurement"].describe()

count    48032.000000
mean      1009.908434
std       1326.072435
min         -0.000000
25%         41.659362
50%        402.707165
75%       1507.055000
max       6184.100829
Name: pv_measurement, dtype: float64

In [46]:
df2["pv_measurement"].describe()

count    48032.000000
mean       188.178932
std        247.090613
min         -0.000000
25%          7.762500
50%         75.037500
75%        280.813577
max       1152.300000
Name: pv_measurement, dtype: float64

In [47]:
df3["pv_measurement"].describe()

count    48032.000000
mean       168.908348
std        221.787141
min         -0.000000
25%          6.967576
50%         67.353237
75%        252.056684
max       1034.297983
Name: pv_measurement, dtype: float64

In [48]:
# s = setup(df_transformed, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False)
s1 = setup(df1, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, fold_shuffle=False, train_size=0.9)
s2 = setup(df2, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, fold_shuffle=False, train_size=0.9)
s3 = setup(df2, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, fold_shuffle=False, train_size=0.9)
# s = setup(df_transformed, target="pv_measurement", normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False, imputation_type="iterative", feature_selection="classic", feature_selection_estimator="et", remove_multicollinearity=True, remove_outliers = True, low_variance_threshold = 0.1,)
# s = setup(df_transformed, target="pv_measurement", imputation_type="iterative", feature_selection="classic", feature_selection_estimator="et", remove_multicollinearity=True, remove_outliers = True, low_variance_threshold = 0.1,  normalize=False, categorical_features=categorical_features, experiment_name="pv_power_mw", ignore_features=ignore_features, index=False,)

In [49]:
preprocessed_data = s2.dataset_transformed
preprocessed_data
# print(preprocessed_data.shape)
# print (preprocessed_data.columns)
preprocessed_data.head(20)
# preprocessed_data.describe()
# categorical features are normalized. That is not good.

,absolute_humidity_2mgm3,air_density_2mkgm3,ceiling_height_aglm,clear_sky_energy_1hJ,clear_sky_radW,cloud_base_aglm,dew_or_rimeidx_0.0,dew_or_rimeidx_-1.0,dew_or_rimeidx_1.0,dew_point_2mK,...,wind_speed_v_10mms,wind_speed_w_1000hPams,is_estimatedidx,day_of_year,hour,month,locationidx_A,locationidx_B,locationidx_C,pv_measurement
0,7.8,1.220,3008.171475,9.222863e+05,212.899994,900.099976,1.0,0.0,0.0,280.700012,...,2.3,-0.0,0.0,277.0,14.0,10.0,1.0,0.0,0.0,159.504486
1,7.1,1.243,2729.600098,6.261190e+05,147.899994,2108.300049,1.0,0.0,0.0,279.000000,...,-0.4,-0.0,0.0,297.0,13.0,10.0,0.0,1.0,0.0,5.175000
2,12.5,1.191,3008.171475,1.350730e+06,309.299988,3395.300049,1.0,0.0,0.0,288.100006,...,-0.2,0.0,0.0,206.0,17.0,7.0,1.0,0.0,0.0,220.215393
3,7.9,1.203,5864.399902,1.705035e+06,409.799988,2079.300049,1.0,0.0,0.0,280.899994,...,-0.6,-0.0,0.0,135.0,16.0,5.0,1.0,0.0,0.0,136.917236
4,2.6,1.275,6748.799805,1.998113e+05,77.199997,5002.899902,1.0,0.0,0.0,265.299988,...,2.4,-0.0,0.0,32.0,10.0,2.0,1.0,0.0,0.0,15.413438
5,5.7,1.274,734.500000,1.535200e+03,5.500000,734.500000,1.0,0.0,0.0,275.500000,...,1.8,-0.0,0.0,301.0,7.0,10.0,0.0,0.0,1.0,21.836143
6,8.2,1.238,6955.700195,6.055134e+05,107.699997,5868.600098,1.0,0.0,0.0,281.299988,...,-1.9,0.0,0.0,244.0,17.0,9.0,1.0,0.0,0.0,55.463783
7,7.6,1.240,6174.700195,4.093219e+05,172.899994,3096.800049,1.0,0.0,0.0,280.000000,...,0.2,0.0,0.0,241.0,6.0,8.0,0.0,0.0,1.0,141.934937
8,4.7,1.259,2765.399902,1.367477e+06,315.100006,477.299988,1.0,0.0,0.0,273.000000,...,-1.7,0.0,1.0,116.0,16.0,4.0,1.0,0.0,0.0,115.846748
9,8.5,1.227,6010.100098,4.702926e+05,180.100006,5743.799805,1.0,0.0,0.0,281.600006,...,1.0,-0.0,0.0,278.0,8.0,10.0,1.0,0.0,0.0,271.005951
10,4.9,1.244,3008.171475,2.057674e+06,527.799988,1783.685718,1.0,0.0,0.0,273.899994,...,-1.4,-0.0,0.0,112.0,14.0,4.0,0.0,0.0,1.0,534.985535
11,5.0,1.197,1220.099976,5.094035e+05,123.400002,1220.099976,1.0,0.0,0.0,273.600006,...,0.4,0.0,0.0,41.0,13.0,2.0,0.0,0.0,1.0,65.508430
12,4.8,1.250,648.799988,1.612337e+05,11.700000,648.799988,1.0,0.0,0.0,273.399994,...,3.0,-0.0,0.0,77.0,17.0,3.0,1.0,0.0,0.0,0.901850
13,6.9,1.233,6574.500000,8.056676e+05,158.899994,2295.600098,1.0,0.0,0.0,278.600006,...,-2.0,0.0,0.0,110.0,17.0,4.0,0.0,0.0,1.0,32.754215
14,11.1,1.232,1721.900024,2.241066e+05,25.200001,1126.800049,1.0,0.0,0.0,285.799988,...,-0.0,-0.0,0.0,223.0,19.0,8.0,1.0,0.0,0.0,2.500584
15,9.7,1.215,1169.099976,1.223620e+06,405.299988,1169.099976,1.0,0.0,0.0,283.899994,...,-0.1,-0.0,0.0,170.0,6.0,6.0,1.0,0.0,0.0,253.460876
16,6.9,1.226,2107.399902,2.790362e+06,804.400024,2107.399902,1.0,0.0,0.0,278.899994,...,1.2,-0.0,0.0,173.0,10.0,6.0,1.0,0.0,0.0,353.525238
17,2.4,1.314,3603.199951,0.000000e+00,0.000000,1352.199951,1.0,0.0,0.0,264.200012,...,2.7,-0.0,1.0,350.0,8.0,12.0,1.0,0.0,0.0,0.368939
18,9.4,1.215,3473.500000,2.448775e+06,724.500000,2093.899902,1.0,0.0,0.0,283.600006,...,-0.8,-0.0,0.0,151.0,9.0,5.0,1.0,0.0,0.0,941.408508
19,4.1,1.266,2723.000000,7.923261e+05,235.600006,2211.000000,1.0,0.0,0.0,271.000000,...,1.2,-0.0,1.0,53.0,11.0,2.0,1.0,0.0,0.0,18.323954

In [11]:
# top3 = s1.compare_models(sort='MAE', n_select=3, )
# lightgbm1 = s1.create_model('lightgbm')

In [50]:
et1 = s1.create_model('et')

In [51]:
# top3 = s2.compare_models(sort='MAE', n_select=3)
et2 = s2.create_model('et')
# lightgbm = s.create_model('lightgbm')

In [52]:
# top3 = s3.compare_models(sort='MAE', n_select=3)
et3 = s3.create_model('et')

# lightgbm = s.create_model('lightgbm')

In [69]:
evaluate_model(et1)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [53]:

# et3 = s3.tune_model(et3, optimize="MAE")

In [54]:
et1 = s1.finalize_model(et1)

In [55]:
et2 = s2.finalize_model(et2)

In [56]:
et3 = s3.finalize_model(et3)

In [57]:
# plot_model(lightgbm, plot="feature_all")
# plot_model(gump, plot="feature_all")

In [64]:
test1 = pipin.get_combined_test_data(data_sets={"A"})
test2 = pipin.get_combined_test_data(data_sets={"B"})
test3 = pipin.get_combined_test_data(data_sets={"C"})

In [59]:

def get_unique_filename(base_name, folder = "submissions"):
    end = ""
    if folder == "models":
        end = ".pkl"
    
    file_path = Path(folder) / f"{base_name}.csv{end}"
    count = 1
    while file_path.exists():
        file_path = Path(folder) / f"{base_name}_{count}.csv{end}"
        count += 1
    return str(file_path)

In [68]:
pred1 = predict_model(et1, data=test1)
pred2 = predict_model(et2, data=test2)
pred3 = predict_model(et3, data=test3)
pred = pd.concat([pred1, pred2, pred3])
final_prediction = pipin.post_processing(pred)
final_prediction.to_csv(get_unique_filename('et3x_scale'))
final_prediction.head(20)

     prediction
id
0      1.666375
1     10.350688
2     16.313500
3    149.240430
4    567.355792
5   1092.446224
6   2054.535997
7   3059.835541
8   3108.900372
9   2620.165703
10  2751.556809
11  2150.999430
12  2352.048549
13  2158.853728
14  2118.718118
15  1421.144195
16   983.052987
17   578.396268
18   160.256489
19     2.693204

In [20]:
# print("done", res_stack.shape)
# pipin.compare_mae(res_stack)